
<section class="content">
	
	<div class="container">
	  <div class="gap-between-div"></div>
		<div  class="container-fluid">
			<div class="navbar-header ">
				<a class="navbar-brand" >Query</a>
			</div>
			<ul class="nav navbar-nav breadcrumbf">
					<li class="active"><a ng-show="isLoggedinUser" ui-sref="query.query_add">Add </a>
				    <a ng-hide="isLoggedinUser"  ui-sref="login">Add</a></li>
				    <li class="active"><a ui-sref="query.query_list">Detail</a>
				   
				
				
				<li>
					<div>
						<select
							ng-options="value.id as value.queryTypeName for value in queryTypeList"
							ng-model="queryTypeId" class="form-control">
							<option value="">Question Type</option>
						</select>
					</div>
				</li>
				<li>
					<div>
						<input ng-model="query" type="text" class="form-control"
							placeholder="Search Question">
					</div>
				</li>
				<li>
					<div>
						<button ng-click="searchQuery();" class="btn btn-default"
							type="button">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</li>
			</ul>
		</div>

	</div>

<div class="container">
		<div  class="row">
			<div class="col-sm-8 col-md-8 col-lg-8">
				<div  ui-view>
				<h5 class="bodyheading">Query  Detail List : <span style="color: red;"> Total <span ng-bind="totalItems"></span></span></h5>
				<div ng-repeat="data in queryList | limitTo : pageSize : (currentPage - 1) * pageSize track by $index" class="post">
					<div class="wrap-ut pull-left">
						<div class="userinfo pull-left">
							<div class="avatar">
								<span class="glyphicon glyphicon-user"></span>
								
							</div>

							
						</div>
						<div class="posttext pull-left body-word-wrap">
							<div class="blog-content">
								<!-- Post Info -->
								<div class="blog-info">
									<strong>{{$index +1 }} - <span class="author" ng-bind="data.createdBy"></span>
									- <span ng-bind="data.createdAt"> </span> -<span class="tag"
										ng-bind="data.queryTypeName"> </span></strong>
									<!-- <span class="cmt"> <i class="fa fa-comments"></i>No
										Comments
									</span> -->
								</div>
								<!-- End / Post Info -->
								<div><h2>
									<a ng-click="getQueryDetail(data.id)"><span
										ng-bind="data.query"></span></a>
								</h2>
                                </div>
								<div>
									<span ng-bind="data.description"></span>
								</div>
								<a ng-click="getQueryDetail(data.id)" class="read-more">
									<span style="color: red;">READ MORE<i class="fa fa-arrow-circle-o-right"></i> </span>
								</a>
							</div>
							 <input ng-show="isLoggedinUser" type="button" class="btn btn-primary" value="Comment" ng-click="ShowComment($index)" />
                           <input ng-hide="isLoggedinUser" type="button" class="btn btn-primary" value="Comment" ui-sref="login" />
                            
                       <input ng-show="isLoggedinUser" type="button" class="btn btn-primary" value="Answer" ng-click="ShowAnswer($index)" />
                       <input ng-hide="isLoggedinUser" type="button" class="btn btn-primary" value="Answer" ui-sref="login" />
						</div>
                     
						<div ng-show = "data.isVisibleForAnswer" class="row">
							<div class="col-sm-2 col-md-2 col-lg-2"></div>
							<div class="col-sm-6 col-md-6 col-lg-6">
								<textarea rows="5" cols="10" type="text" ng-model="data.queryAnswer"
									class="form-control" placeholder="Answer here......"></textarea>
							</div>
							<div class="col-sm-2 col-md-2 col-lg-2">
								<input type="button" class="btn btn-primary"
									ng-click="saveQueryAnswer($index);" value="Answer"
									name="button">&nbsp;&nbsp;&nbsp;
									<input type="button" class="btn btn-primary"
									 value="Close"ng-click="hideAnswer($index)" 
									name="button">
							</div>
							<div class="col-sm-2 col-md-2 col-lg-2"></div>
						</div>
						<div  ng-show = "data.isVisibleForComment" class="row">
							<div class="col-sm-2 col-md-2 col-lg-2"></div>
							<div class="col-sm-6 col-md-6 col-lg-6">
								<textarea rows="5" cols="10" type="text" ng-model="data.comment" size="100px"
									class="form-control" placeholder="Commnent here......"></textarea>
							</div>
							<div class="col-sm-2 col-md-2 col-lg-2">
								<input type="button" class="btn btn-primary"
									ng-click="saveQueryComments($index);" value="Comment"
									name="button">
									&nbsp;&nbsp;&nbsp;
									<input type="button" class="btn btn-primary"
									 value="Close"ng-click="hideComment($index)" 
									name="button">
							</div>
							<div class="col-sm-2 col-md-2 col-lg-2"></div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="postinfo pull-left">
						<div class="comments">
							<div class="commentbg">
								<span ng-bind="data.commentCount"></span>
								<div class="mark"></div>
							</div>

						</div>
						<div class="views">
							<i class="fa fa-answer"></i> <span ng-bind="data.answerCount"></span>
						</div>
						<div class="time">
							<i class="fa fa-time"></i> <span ng-bind="data.createdAt">
							</span>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div align="right"><ui uib-pagination total-items="totalItems" ng-model="currentPage"
					items-per-page="pageSize"></ui> </div>




			</div>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">

				<!-- -->
				<div class="sidebarblock">
					<h3>Related Top Question </h3>
					<div class="divline"></div>

					<div class="blocktxt row">
                 
						<ul ng-repeat="data in queryCountDetailList" class="list-group">
						
						<li
							class="list-group-item d-flex justify-content-between align-items-center">
							<a ng-click="getQueryDetail(data.id);">  <span class="body-word-wrap" ng-bind="data.query"></span> </a>
							 <span data-toggle="tooltip" data-placement="left" title="Total Comment" class="badge badge-success badge-pill" ng-bind="data.commentCount"></span>
							 <span data-toggle="tooltip" data-placement="left" title="Total Answer" class="badge badge-primary badge-pill" ng-bind="data.answerCount"></span>
						</li>
					</ul>

					</div>
				</div>

				<!-- -->
				<div class="sidebarblock">
					<h3>Related Top Query Type</h3>
				<div class="divline"></div>
				<div class="blocktxt row">
					<ul ng-repeat="data in queryTypeCountList" class="list-group">
						<li
							class="list-group-item d-flex justify-content-between align-items-center">
							<a ng-click="getQueryDetailByQueryTypeId(data.id);">  <span class="body-word-wrap" ng-bind="data.queryTypeName"></span> </a>
							 <span data-toggle="tooltip" data-placement="left" title="Total Comment" class="badge badge-success badge-pill" ng-bind="data.records"></span>
							 
						</li>
					</ul>
					</div>
				</div>

				<!-- -->
				<div class="sidebarblock">
					<h3>Google Advertiesment</h3>
					<div class="divline"></div>
					<div class="blocktxt">
						<a href="#">Like FlipKart</a>
					</div>

				</div>


			</div>
		</div>
	</div>
	
</section>

